@import "variables";

.title-of-the-section {
  margin: 0;
  padding: 10px 0;
  color: #29323c;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: $secondary-font-family;
  font-size: 26px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
}