$primary-font-family: 'Montserrat-Bold', sans-serif;
$secondary-font-family: 'Open Sans', sans-serif;

$primary-font-weight: 700;
$secondary-font-weight: 400;

$primary-font-color: #29323c;
$secondary-color: #e8e8e8;



